//key frames animates

@keyframes rotateRight {
  to { transform:  rotate(360deg);}
}

@keyframes rotateLeft {
  to { transform:  rotate(-360deg);}
}

@keyframes moveX {
  to { transform: translateX(1rem);}
  from { transform: translateX(-1rem);}
}

@keyframes moveY {
  to { transform: translateY(1rem);}
  from { transform: translateY(-1rem);}
}

@keyframes moveX_05 {
  to { transform: translateX(.5rem);}
  from { transform: translateX(-.5rem);}
}

@keyframes moveY_05 {
  to { transform: translateY(.5rem);}
  from { transform: translateY(-.5rem);}
}

@keyframes rotate_5 {
  to { transform: rotate(5deg);}
  from { transform: rotate(-5deg);}
}

@keyframes opacity {
  to { opacity: 0;}
  from {opacity: 1;}
}


//Names animation
.ani__rotate_right{
  animation-name: rotateRight;
}

.ani__rotate_left{
  animation-name: rotateLeft;
}

.ani__move_x{
  animation-name: moveX;
}

.ani__move_y{
  animation-name: moveY;
}

.ani__move_x_05{
  animation-name: moveX_05;
}

.ani__move_y_05{
  animation-name: moveY_05;
}

.ani__rotate_5{
  animation-name: rotate_5;
}
.ani__opacity{
  animation-name: opacity;
}


//types

.ani__alternate {
  animation-direction: alternate;
}

.ani__linear{
  animation-timing-function: linear;
}

.ani__ease{
  animation-timing-function: ease-in-out;
}

.ani__infinite{
  animation-iteration-count: infinite;
  pointer-events: none;
}

.ani__forwards {
  animation-fill-mode: forwards
}

.ani__backwards {
  animation-fill-mode: backwards;
}







//for velocity animation

//velocity
$num: 0;
@while $num <= 40 {
  .ani__duration-#{$num}s{
    animation-duration: #{$num}s;
  }
  $num: $num + 1;
}

//delay
$num: 0;
@while $num <= 2000 {
  .ani__delay-#{$num}ms{
    animation-delay: #{$num}ms;
  }
  $num: $num + 100;
}

.ani__duration-05s {
  animation-duration: 0.5s;
}

//z-index
$num: -1;
@while $num < 50 {
  .z-#{$num}{
    z-index: #{$num};
  }
  $num: $num + 1;
}